
/****************************************************
Page crossover
****************************************************/

html, body, div {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0; 
  font-size: 16px;
}
/*
.yourSettingsPage {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.yourSettingsPage input {
  width: 80%;
  height: 15%;
  margin: 20% 10%;
  padding: .5em;
  outline: none;
  font-size: 2rem; }

.yourSettingsPage label {
  position: absolute;
  margin: 20% 10%;
  padding: .5em;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #fcce00; }

*/
.SplashContainer {
	position: relative;
	background: #ffffff;
	border-radius: 15px;
	margin: 0;
	padding: 10em 0 0 0;
	width: 100vw;
	height: 100vh;
}

.browseFooter {
	position: fixed;
	background: #ffffff;
	border-bottom: 2px solid black;
	bottom: 15px;
	border-radius: 0 0 100px 100px;
	margin: 0;
	width: 100vw;
	height: 100px;
	z-index: 2;
}

.browseFooter h2 {
	font-size: 3rem;
	font-family: 'Gotham', sans-serif;
	position: relative;
	margin: 25px;
	text-align: center;
	z-index: 3;
}

/****************************************************
Navigation menu
****************************************************/

.navigationHeader {
	position: fixed;
	background: #ffffff;
	border-bottom: 2px solid black;
	top: 0;
	margin: 0;
	width: 100vw;
	height: 100px;
	z-index: 2;
}

.navigationHeader h2 {
	font-size: 3rem;
	font-family: 'Gotham', sans-serif;
	position: relative;
	margin: 25px;
	text-align: center;
}

.navigationContainer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	margin: 0;
	background: #ffffff;
	z-index: 5;
	top: -100vh;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.navigationClose {
	width: 200px;
	height: 200px;
	position: fixed;
	margin: 0;
	right: 0;
	top: -100vh;
	background: #ffffff;
}

.menuTransition {
	-webkit-transform: translate3d(0, 100vh, 0);
	transform: translate3d(0, 100vh, 0);
}

.lineL {
	width: 15px;
	height: 150px;
	position: fixed;
	background: #000000;
	margin: 25px 100px;
	transform: rotate3d(0, 0, 1, 45deg);
}

.lineR {
	width: 15px;
	height: 150px;
	position: fixed;
	background: #000000;
	margin: 25px 100px;
	transform: rotate3d(0, 0, 1, 315deg);
}

.navLinks {
	font-size: 6rem;
	font-family: 'Gotham', sans-serif;
	position: relative;
	margin: 17vh 0;
	text-align: center;
}

/****************************************************
Log in page
****************************************************/

#LogInContainer {
	display: block;
}

#LogInContainer h1 {
	font-size: 6rem;
	font-family: 'Gotham', sans-serif;
	position: relative;
	margin: 0 10% 5%;
	text-align: center;
}

#LogInContainer h2 {
	font-size: 4rem;
	font-family: 'Gotham', sans-serif;
	position: relative;
	margin: 15% 10% 5%;
	text-align: center;
	z-index: 3;
}

#LogInContainer p:nth-child(2) {
	font-size: 3rem;
	font-family: 'Gotham', sans-serif;
	position: relative;
	margin: 2% 10% 2%;
}

#LogInContainer p {
	position: relative;
	margin: 15%;
	font-size: 2rem;
	font-family: "Gotham", sans-serif;
	color: #000000;
	text-align: center;
}

/****************************************************
Register Page
****************************************************/

#RegisterContainer {
	display: none;
}

#RegisterContainer h2 {
	font-size: 4rem;
	font-family: 'Gotham', sans-serif;
	position: relative;
	margin: 0% 10% 15%;
	text-align: center;
}

#RegisterContainer p {
	position: relative;
	margin: 0 15% 5%;
	font-size: 1.5rem;
	font-family: "Gotham", sans-serif;
	color: #000000;
}

#LogInReturnLink {
	margin: 20% 15% !important;
	font-size: 2rem !important;
	text-align: center;
}


/****************************************************
Log in & register forms
****************************************************/

.LogIn label, .Register label {
	display: inline-block;
	text-align: left;
	font-size: 2rem;
	font-family: "Gotham", sans-serif;
	color: #000000; 
	margin: 0 13.5%;
	font-weight: 500;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translate3d(0, -4.8em, 0);
	transform: translate3d(0, -4.8em, 0);
}

.LogIn input, .Register input {
	position: relative;
	display: inline-block;
	z-index: 1;
	width: 72%;
	height: 15%;
	margin: 0 10% 8%;
	padding: 1em;
	font-size: 2rem;
	border: 0;
	outline: 0;
	background: transparent;
  	border-bottom: 2px solid #444444;
}

.LogIn input::placeholder, .Register input::placeholder {
	color: #000000;
	font-size: 2rem;
}

.LogIn input[type=submit], .Register input[type=submit] {
	width: 80%;
	height: 15%;
	margin: 0 10%;
	font-size: 2.5rem;
	background: transparent;
	border-bottom: 5px solid #444444;
	font-weight: 700;
}

/****************************************************
Form interactions
(This covers all forms in the application)
****************************************************/

input:focus + label, .inputActive + label{
	-webkit-transform: translate3d(0, -7em, 0);
	transform: translate3d(0, -7em, 0);
}

label::after {
	content: '';	
	color: #000;
    position: absolute;
	top: 50%;
	width: 65vw;
	left: 0;
	z-index: 2;
	font-weight: 500;
    opacity: 0;
	-webkit-transform: translate3d(0, 2.3em, 0);
	transform: translate3d(0, 2.3em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

label::before {
	content: '';	
	background-color: #ffffff;
    position: absolute;
	opacity: 1;
	top: 0;
	left: 0;
	height: 100px;
	width: 68vw;
	z-index: -1;
	-webkit-transform: translate3d(0, -1.8em, 0);
	transform: translate3d(0, -1.8em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* For the register page. Start: */
.fName:focus + label::after {
	content: 'Just your first name will do, thanks.';
	opacity: .5;
	z-index: 3;
	-webkit-transform: translate3d(0, 5em, 0);
	transform: translate3d(0, 5em, 0);
}

.usernameR:focus + label::after {
	content: "You'll use this to log in.";
	opacity: .5;
	z-index: 3;
	-webkit-transform: translate3d(0, 5em, 0);
	transform: translate3d(0, 5em, 0);
}

.passwordR:focus + label::after {
	content: "You'll need atleast 6 characters.";
	opacity: .5;
	z-index: 3;
	-webkit-transform: translate3d(0, 5em, 0);
	transform: translate3d(0, 5em, 0);
}
/* End */